.item__detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.95);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: var(--PADDING-MAIN);
    margin: var(--PADDING-MAIN);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
    width: 400px;
}

.item__detail:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.868);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: 2rem;
}

.item__detail__img{
    width: 240px;
    height: 260px;
    border-radius: var(--BORDER-RADIUS-IMG);
}


.item__detail__name, 
.item__detail__description,
.item__detail__price {
    max-width: 350px;
    text-align: center;
    font-size: 2rem;
}

.item__detail__price{
    color:  rgb(5, 145, 5); 
    font-weight: bold;
}

.item__detail__description{
    font-size: 1rem;
    color: grey;
    font-weight: normal; 
}

.itemDetail__button,
.itemDetail__secondary__button__seguir, 
.itemDetail__secondary__button__finalizar{
    color: white;
    font-size: 1.5rem;
    background-color: darkcyan;
    border: none;
    padding: 70% auto;
    margin: 10px auto;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    border-radius: var(--BORDER-RADIUS-BOX);
    cursor: pointer;
}

.itemDetail__button:hover{
    background-color: rgba(0, 139, 139, 0.55);
}

.itemDetail__secondary__button__seguir, .itemDetail__secondary__button__finalizar{
    font-size: 0.5em;
    border: none;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    border-radius: var(--BORDER-RADIUS-BOX);
    cursor: pointer;
}

.itemDetail__secondary__button__seguir{
    background-color: grey;
}

.itemDetail__secondary__button__seguir:hover{
    background-color: rgba(128, 128, 128, 0.55);
}

.itemDetail__secondary__button__finalizar{
    background-color: rgb(5, 145, 5);
}

.itemDetail__secondary__button_.itemDetail__secondary__button__finalizar{
    background-color: rgba(5, 145, 5, 0.55);
}



@media only screen and (max-width: 600px) {
    .item__detail{
        padding: 0;
        margin: 0;
        width: 370px;
        height: auto;
    }

    .item__detail__img{
        width: 240px;
        height: 260px;
        border-radius: var(--BORDER-RADIUS-IMG);
    }

    .item__detail__name, 
    .item__detail__description,
    .item__detail__price {
        max-width: 320px;
        text-align: center;
        font-size: 1rem;
    }
    .itemDetail__button,
    .itemDetail__secondary__button__seguir,
    .itemDetail__secondary__button__finalizar{
        font-size: 0.7em;
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .item__detail{
        width: 270px;
    }

    .item__detail__img{
        width: 140px;
        height: 160px;
    }

    .item__detail__name, 
    .item__detail__description,
    .item__detail__price {
        max-width: 220px;
    }
    .itemDetail__button,
    .itemDetail__secondary__button__seguir,
    .itemDetail__secondary__button__finalizar{
        width: 200px;
    }
}
