
.cart__container{
    background-color: white;
    color: var(--FONT-COLOR);
    padding: var(--PADDING-MAIN);
    margin: var( --MARGIN-MAIN-BOXES-2);
    
    font-size: 2rem;
    text-align: center;
    min-height: 800px;
    min-width: 800px;
    border-radius: var(--BORDER-RADIUS-BOX);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
}

.cart__img, .cart__container__product__img {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 25px;
}

.cart__container__product__name,
.cart__container__product__quantity{
    margin: 0 25px; 
}

.cart__container__product{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    font-size: 2rem;
    

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: var(--PADDING-MAIN);
    margin: var(--PADDING-MAIN);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
}

.cart__container__product__total{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: space-between;    
}

.cart__product__descuento{
    color: red;
    font-size: 1.2rem;
}
.cart__product__total{
    font-weight: bold;
    color:   rgb(5, 145, 5);
    margin: 5px 0 25px 0;
}

.cart__container__titulo{
    display: flex;
    flex-direction: row;
    padding: var(--PADDING-MAIN);
    margin: var(--MARGIN-MAIN-BOXES);
    color: var(--FONT-COLOR-DARK);
    text-align: center;
}

.itemDetail__cancel__button,
.itemDetail__clearCart__button{
    color: white;
    font-size: 1.5rem;
    background-color: rgb(192, 1, 1);
    border: none;
    margin: 0 25px;
    width: 10%;
    justify-content: space-around;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
}

.itemDetail__clearCart__button:hover{
    background-color: rgba(192, 1, 1, 0.55);
}

.itemDetail__clearCart__button{
    font-size: 2rem;
    border: none;
    justify-content: space-around;
    height: 55px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.itemDetail__secondary__button1,
.itemDetail__secondary__button2{
    background-color: grey;
    font-size: 2rem;
    height: 55px;
    width: 80%;
    
}

.itemDetail__secondary__button2{
    background-color: rgb(5, 145, 5);
}

/* Swal */

.swal-title {
    color: rgba(55, 43, 165, 0.85);
    margin: 0px;
    font-size: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-overlay {
    background-color: rgba(55, 43, 165, 0.45);
}

.swal-text {
    background-color: rgba(0, 70, 44,0.75);
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: white;
}

.swal-button {
    padding: 10px 25px;
    border-radius: 6px;
    background-color:  rgba(55, 43, 165, 0.85);
    font-size: 14px;
}