
.cart__container{
    background-color: white;
    color: var(--FONT-COLOR);
    padding: var(--PADDING-MAIN);
    margin: var( --MARGIN-MAIN-BOXES-2);
    
    font-size: 2rem;
    text-align: center;
    min-height: 800px;
    min-width: 800px;
    border-radius: var(--BORDER-RADIUS-BOX);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
}

.cart__img, .cart__container__product__img {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 25px;
}

.cart__container__product__name,
.cart__container__product__quantity{
    margin: 0 25px; 
}

.cart__container__product{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    font-size: 2rem;
    

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: var(--PADDING-MAIN);
    margin: var(--PADDING-MAIN);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
}

.cart__container__product__total{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: space-between;    
}

.cart__product__descuento{
    color: red;
    font-size: 1.2rem;
}
.cart__product__total{
    font-weight: bold;
    color:   rgb(5, 145, 5);
    margin: 5px 0 25px 0;
}

.cart__container__titulo{
    display: flex;
    flex-direction: row;
    padding: var(--PADDING-MAIN);
    margin: var(--MARGIN-MAIN-BOXES);
    color: var(--FONT-COLOR-DARK);
    text-align: center;
}

.itemDetail__cancel__button,
.itemDetail__clearCart__button{
    color: white;
    font-size: 1.5rem;
    background-color: rgb(192, 1, 1);
    border: none;
    margin: 0 25px 15px;
    width: 10%;
    justify-content: space-around;
    height: 45px;
    border-radius: var(--BORDER-RADIUS-BOX);
    cursor: pointer;
}

.itemDetail__clearCart__button:hover{
    background-color: rgba(192, 1, 1, 0.55);
}

.itemDetail__clearCart__button{
    font-size: 2rem;
    border: none;
    justify-content: space-around;
    height: 55px;
    width: 80%;
    border-radius: var(--BORDER-RADIUS-BOX);
    cursor: pointer;
}

.itemDetail__secondary__button1,
.itemDetail__secondary__button2{
    color: white;
    background-color: grey;
    font-size: 2rem;
    height: 55px;
    width: 80%;
    margin: 0 25px 15px;
    border: none;
    border-radius: var(--BORDER-RADIUS-BOX);
    
}

.itemDetail__secondary__button2{
    background-color: rgb(5, 145, 5);
}

.itemDetail__secondary__button2:hover{
    background-color: rgba(5, 145, 5, 0.55);
}

/* Swal */

.swal-title {
    color: var(--FONT-COLOR-DARK);
    margin: 0px;
    font-size: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-overlay {
    background-color: #00858363;
}

.swal-text {
    background-color: var(--FONT-COLOR-DARK);
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: white;
}

.swal-button {
    padding: 10px 25px;
    border-radius: 6px;
    background-color:  var(--FONT-COLOR-DARK);
    font-size: 14px;
}

.swal-button:hover{
    background-color:  var(--FONT-COLOR-DARK);
}


.logo{
    width: 300px;
    height: 320px;
    margin: 0;
    padding: 0;
}



@media only screen and (max-width: 992px) {
    .cart__container{
        width: 470px;
        height: auto;
        font-size: 1rem;
        text-align: center;
        min-height: 400px;
        min-width: 400px;
    }

    .cart__container__titulo{
        font-size: 2rem;
    }

    .cart__container__product,
    .cart__container__product__total{
        font-size: 1.2rem;
        width: 470px;
        margin: 0;
        padding: 15px 0 15px 0;
    }

    .logo{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .cart__container{
        width: 370px;
        min-height: 300px;
        min-width: 300px;
    }

    .cart__container__titulo{
        font-size: 2rem;
    }

    .cart__container__product,
    .cart__container__product__total{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        width: 370px;

    }
    .cart__img{
        display: none;
    }

    .cart__container__product__img{
        width: 320px;
        height: 300px;
    }

    .itemDetail__secondary__button1,
    .itemDetail__secondary__button2,
    .itemDetail__clearCart__button,
    .itemDetail__cancel__button{
        width: 300px;
        
    }

}

@media only screen and (max-width: 420px) {
    .cart__container{
        width: 270px;
        min-height: 200px;
        min-width: 200px;
    }
    .cart__container__product,
    .cart__container__product__total{
        width: 270px;
    }

    .cart__container__product__img{
        width: 220px;
        height: 200px;
    }

    .itemDetail__secondary__button1,
    .itemDetail__secondary__button2,
    .itemDetail__clearCart__button,
    .itemDetail__cancel__button{
        font-size: 1rem;
        width: 200px;
        
    }
}

