.item{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.95);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: var(--PADDING-MAIN);
    margin: var(--PADDING-MAIN);
    background-color: white;
    color: var(--FONT-COLOR-DARK);
}

.item__img {
    width: 250px;
    height: 250px;
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: var(--PADDING-MAIN-IMG);
}

.item:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.868);
    border-radius: var(--BORDER-RADIUS-IMG);
    padding: 2rem;
}


.item__name, .item__price{
    max-width: 350px;
    margin: var(--MARGIN-MAIN-BOXES);
    text-align: center;
    font-size: 1.5rem;
}

.item__button{
    color: white;
    font-size: 1rem;
    background-color: darkcyan;
    border: none;
    padding: 70% auto;
    margin: 10px auto;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}