.header {
    background-color: var(--BG-COLOR-HEADER);
    color: var(--FONT-COLOR-HEADER);
    padding: var(--PADDING-HEADER);
    position: var(--POSITION-HEADER);
    display: inline;

}
.header__nav__ul{
    align-items: center;
    justify-content: center;
    margin: auto;
}
.header__nav__ul__li {
    background-color: var(--BG-COLOR-HEADER);
    color: var(--FONT-COLOR-HEADER);
    display: inline-block;
    max-width: var(--FULL-WIDTH);
    margin: auto 1em;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: larger;
}

.header__logo {
    float: right;
    width: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    
}