/* FOOTER */
.footer {
    background-color: var(--BG-COLOR-HEADER);
    color: var(--FONT-COLOR-HEADER);
    padding: var(--PADDING-HEADER);
    margin: 0;
    position: var(--POSITION-HEADER);
    text-align: center;
    place-content: center;
    display: inline;
    font-size: var(--FONT-SIZE);
}